body{
    font-family: poppins;
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
    margin: 0;
    
}

#principal{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hero{
    background-image: url(pexels-ann-h-3147624.jpg);
    height: 460px;
    background-position: right center;
    background-size: cover;
}
.hero-content{
    text-align: center;
    color: white;
    margin-top: 150px;
    position: relative;
}
.titulo{
    text-transform: uppercase;
    font-size: 50px;
    text-shadow: 4px 4px 4px #333;
    color: rgb(240, 100, 135);
}
.titulo2{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.img-linkedin{
    width: 28px;
    height: 28px;
}
.img-insta{
    width: 26px;
    height: 26px;
}
.img-whatsapp{
    width: 30px;
    height: 30px;
    
}
.titulo3{
    background-color: rgba(0,0,0, 0.6);
    display: inline-block;
    padding: 10px;
    border-bottom: 2px outset white;
}
main{
    width: 80%;
    margin: auto;
}
.content-section2{
    background-color: white;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 15px;;
    
}
 .rodape{
    background-color:rgb(240, 100, 135);
    text-align: center;
    height: 50px;
    padding-top: 5px;
    color: white;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 0;
    padding-bottom: 0;
    overflow-y: hidden;
} 
.texto1{
    background-color: rgb(238, 139, 164);
    padding: 15px;
    border-bottom: 2px outset #393535;
    font-size: 30px;
}
.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 25px;
    padding-right: 60px;
}
.btn-nav{
        display: flex;
        flex-direction: column;
        gap: 30px;
        letter-spacing: 1px;
        position: fixed;
        right: 10px;
}
.btn-nav-unico{
    border: 1px outset white;
    padding: 10px;        
    text-decoration: none;
    text-transform: uppercase;        
    text-shadow: 3px 3px 3px black;
    font-size: 12px;
    background-color: rgba(53,53,53, 0.3);
   
}
a.btn-nav-unico:link{
    color: rgb(255, 254, 255);
    text-transform: uppercase;
    text-shadow: 3px 3px 3px #333;
}
a.btn-nav-unico:visited{
    color: white;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px #333;
}
a.btn-nav-unico:hover{
    background-color: rgba(53,53,53, 0.6);
    text-transform: uppercase;
    text-shadow: 3px 3px 3px black;
}
.paragrafo1{
    font-size: 19px;
}

@media (max-width: 793px){
    .flexbox{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 25px;
        padding-right: 60px;
    }

    .btn-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        letter-spacing: 1px;
        position: static;
}
.hero{
    background-image: url(pexels-ann-h-3147624.jpg);
    height: 600px;
    background-position: right center;
    background-size: cover;
}
.hero-content{
    text-align: center;
    color: white;
   margin-top: -50px;
    position: relative;
}
}







/*----------------------------------------Sobre-------------------------------------------*/





.corpo-curriculo{
    background-color:rgb(228, 133, 160);
    width: 88%;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 5px 5px 15px;
} 

.corpo-curriculo p{
text-align: justify;
} 

.cabeçalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    height: 86px;
    background-image: url(pexels-ann-h-3147624.jpg);
    background-size: 100%;
    margin-top: 0px;
    margin-bottom: 30px;
}
.img-linkedin{
    width: 28px;
    height: 28px;
}
a.a-linkedin{
    margin-left: 20px;
}

.img-insta{
    width: 26px;
    height: 26px;
}
a.a-insta{
    margin-left: 10px;
}
.img-whatsapp{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.paragrafo-cabeçalho{
    display: flex;
    align-items: center;
}

 
.corpo-curriculo-sobre-mim{
    padding: 20px;
}
.corpo-curriculo img{
    width: 200px;
    height: 200px;
    border-radius: 50px;
}
.sobre-mim{
    text-shadow: 3px 3px 3px rgb(214, 143, 185);
    border: 2px outset #746b6b;
    background-color: #fffdfd;
    padding: 10px;
    
}
.sobre-mim-texto{
    font-size: 19px;
}
.sobre-mim-texto p{
    margin: 8px;
}

.minha-foto{
    float: left;
    padding-right: 10px;
   
}
a.a-nome{
    margin-left: 40px;
    margin-bottom: 3px;
    text-transform: uppercase;
    color: white;
    text-shadow: 3px 3px 3px black;
    letter-spacing: 1px;
    text-decoration: none;
    
}
.nav1{
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: fixed;
    right: 0;
    top: 20px;
}
.btn-nav-unico{
    border: 1px solid white;
    padding: 10px;        
    text-decoration: none;
    text-transform: uppercase;        
    text-shadow: 3px 3px 3px black;
    font-size: 12px;
    background-color: rgba(53,53,53, 0.3);
}
a.btn-nav-unico:link{
    color: white;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px black;
}
a.btn-nav-unico:visited{
    color: white;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px black;
}
a.btn-nav-unico:hover{
    background-color: rgba(0,0,0, 0.3);
    text-transform: uppercase;
    text-shadow: 3px 3px 3px black;
}
.corpo-curriculo-objetivo{
    padding: 20px;
    padding-top: 0;
}
.objetivo{
    text-shadow: 3px 3px 3px rgb(214, 143, 185);
    border: 2px outset #393535;
    background-color: #ffffff;
    padding: 10px;
}
.objetivo-texto{
    font-size: 19px;
    margin-bottom: 0;
    margin-left: 20px;
}
.corpo-curriculo-form_acad{
    padding: 20px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 1px;
}
.form_acad{
    text-shadow: 3px 3px 3px rgb(214, 143, 185);
    border: 2px outset #393535;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 0;
}
.form_acad-texto{
    font-size: 19px;
    margin-left: 20px;
}
.corpo-curriculo-exp{
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
}
.exp_ant{
    text-shadow: 3px 3px 3px rgb(189, 182, 182);
    border-bottom: 2px solid #393535;
    background-color: #ccc;
    padding: 10px;
    margin-top: 0;
}
.exp-texto h2{
    margin-left: 20px;
}
.lista1{
    font-size: 19px;
    font-weight: 530;
}
.corpo-curriculo-cursos{
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
}
.cursos{
    text-shadow: 3px 3px 3px rgb(214, 143, 185);
    border: 2px outset #393535;
    background-color: #ffffff;
    padding: 10px;
} 
.lista2{
    font-size: 19px;
    line-height: 30px;
    font-weight: 600;
    list-style: none;
    padding-left: 20px;
}
.curso-udemy{
    background-color: rgb(164, 53, 240);
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 3px 3px 3px black;
}
.curso-cursoemvideo{
    background-color: rgb(113, 7, 145);
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    text-shadow: 3px 3px 3px black;
}
.corpo-curriculo-idiomas{
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
}
.idiomas{
    text-shadow: 3px 3px 3px rgb(214, 143, 185);
    border: 2px outset #393535;
    background-color: #ffffff;
    padding: 10px;
}
.lista3{
    font-size: 19px;
    font-weight: 600;
    list-style: none;
    padding-left: 30px;
}
.corpo-curriculo-contato{
    padding: 20px;
    padding-top: 0;
}
.contato{
    text-shadow: 3px 3px 3px rgb(214, 143, 185);
    border: 2px outset #393535;
    background-color: #ffffff;
    padding: 10px;
}
.lista4{
    font-size: 19px;
    font-weight: 530;
    list-style-type: circle;
}
a.a-contato:link{
    color: rgb(122, 4, 113);
    text-decoration: none;
    
}
a.a-contato:visited{
    color: rgb(11, 76, 105);
    text-decoration: none;
}
a.a-contato:hover{
    background-color: rgba(0,0,0, 0.2);
}


@media (max-width: 799px){
    .cabeçalho{
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-image: url(pexels-ann-h-3147624.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px   ;
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .nav1{
        margin-right: 60px; 
        display: flex;
        flex-direction: column;
        gap: 30px;
        letter-spacing: 1px;
        text-transform: uppercase;
        position: relative;
        top: 0;
        left:40px;
        top: -30px;
    }

    .corpo-curriculo{
        background-color: rgb(228, 133, 160);
        width: 88%;
        margin: auto;
        margin-bottom: 30px;
        box-shadow: 5px 5px 15px;
    } 
}

/* portfolio */
.linkado {
    color:rgb(89, 15, 104);
}
a.linkado:hover{
    background-color: pink;
}
